.footer {
  text-align: center;
  background-color: #f8f8f8;
  color: #555;
  padding: 15px 0;
  border-top: 1px solid #ddd;
  margin-top: 30px;
  width: 100%;
}

.footer h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
}
